<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174962205517-k9eav0229o6khidsvfgfv4v4f9p3qlvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174962205517-k9eav0229o6khidsvfgfv4v4f9p3qlvs</string>
	<key>API_KEY</key>
	<string>AIzaSyDGzaQG8TM05Ljovx4ud-uwqwAfT2zU6uo</string>
	<key>GCM_SENDER_ID</key>
	<string>174962205517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passwmanager</string>
	<key>PROJECT_ID</key>
	<string>clonewhatapp-6f423</string>
	<key>STORAGE_BUCKET</key>
	<string>clonewhatapp-6f423.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174962205517:ios:3880a86df329c41cb60d04</string>
</dict>
</plist>